extends layout

block content
  .container
    h1 Best Buy
    h4 Your Convenient Shopping Solution

    include ./partials/header.jade

    
    .row
      .col-sm-6.col-md-4
        .card(style='width: 18rem;')
          img.card-img-top(src='Images/polo.jpg', alt='Card image cap')
          .card-body
            h5.card-title H&M Polo Shirt
            p.card-text Casual Slim Fit Shirt in Green and Blue Colour. Light Weight and Quick Dry.
            a.btn.btn-primary(href='#') Buy Now

      .col-sm-6.col-md-4
        .card(style='width: 18rem;')
          img.card-img-top(src='Images/blender.jpg', alt='Card image cap')
          .card-body
            h5.card-title Kenwood Blender
            p.card-text
              | Easy to set up Blender. Two Plug. Porcelain and glass finish in Silver and White.
            a.btn.btn-primary(href='#') Buy Now
      .col-sm-6.col-md-4
        .card(style='width: 18rem;')
          img.card-img-top(src='Images/wig1.jpg', alt='Card image cap')
          .card-body
            h5.card-title Peruvian Wig with Frontal
            p.card-text
              | 100% good quality Peruvian Human hair with 360 lace frontal. 18 inches. Light and Easy to install.
            a.btn.btn-primary(href='#') Buy Now
    .row
        .col-sm-6.col-md-4
          .card(style='width: 18rem;')
            img.card-img-top(src='Images/mac.jpg', alt='Card image cap')
            .card-body
              h5.card-title Mac Air Laptop
              p.card-text
                | Brilliant Retina Display with True Tone technology.Comes in silver, white and space gray.
              a.btn.btn-primary(href='#') Buy Now
        .col-sm-6.col-md-4
          .card(style='width: 18rem;')
            img.card-img-top(src='Images/plug.jpg', alt='Card image cap')
            .card-body
              h5.card-title Adapter set
              p.card-text Wall Adapter set. Comes in pack of three. Easy to use with child safety feature.
              a.btn.btn-primary(href='#') Buy Now
        .col-sm-6.col-md-4
          .card(style='width: 18rem;')
            img.card-img-top(src='Images/heels1.jpg', alt='Card image cap')
            .card-body
              h5.card-title Christian Loubotin
              p.card-text
                | Available in Red and Hot Pink, these 5 inch heels are top notch, affordable and classy. Definately a show stopper.
              a.btn.btn-primary(href='#') Buy Now
    .row
      .col-sm-6.col-md-4
        .card(style='width: 18rem;')
          img.card-img-top(src='Images/samsung.jpg', alt='Card image cap')
          .card-body
            h5.card-title Samsung S8
            p.card-text
              | Fast and powerful with 10nm processor. Comes in Rose gold and Midnight Black. 64gb and memory card slot.
            a.btn.btn-primary(href='#') Buy Now
      .col-sm-6.col-md-4
        .card(style='width: 18rem;')
          img.card-img-top(src='Images/onesie.jpg', alt='Card image cap')
          .card-body
            h5.card-title Newbron Onesies
            p.card-text
              | Comes in packs of three's with various colours and cute designs. Suitable for babies between 2.5kg to 5kg.
            a.btn.btn-primary(href='#') Buy Now
      .col-sm-6.col.md-4
        .card(style='width: 18rem;')
          img.card-img-top(src='Images/backpack.jpg', alt='Card image cap')
          .card-body
            h5.card-title Travel Backpack
            p.card-text Multipurpose backpack with numerous compartments. Available in gray and Black.
            a.btn.btn-primary(href='#') Buy Now
