doctype html
html
  head
    title= login
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    block content
<!DOCTYPE html>
