doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Login Form
    link(rel='stylesheet', href='/stylesheets/style1.css')
  body
    .sign-up-form
      img(src='./Images/Best-Buy.jpg')
      form.box(action='', method='post')
        h1 Login
        input(type='text', name='', placeholder='Username')
        input(type='password', name='', placeholder='Password')
        input(type='submit', name='', value='Login')
