doctype html
html
  head
    title Sign Up Form
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    Validation Errors
    .sign-up-form
      img(src='/Images/Best-Buy.jpg')
      h1 Sign Up Now
      form(method='post', action='signup')
        input.input-box(type='email', placeholder='Your Email')
        input.input-box(type='password', placeholder='Your Password')
        p
          span
            input(type='checkbox')
          |  I agree to the terms of services
        input(type='hidden', name='_csrf', value='#{csrfToken}')
        button.signup-btn(type='submit') Sign up

        hr
        p.or OR
        button.twitter-btn(type='button') Login with twitter
        p
          | Do you have an account?
          a(href='#') Sign in
